<!DOCTYPE html>
<html>
  <head>
    <title>{%block title%}{%endblock%}| RESTx3</title>
  </head>
  <body>
    <center>
      <table>
        <tr>
          <td><a href="/airQuality"><h3>Weather</h3></a></td>
          <td><a href="/news"><h3>News</h3></a></td>
          <td><a href="/tasteDive"><h3>Explore</h3></a></td>
        </tr>
      </table>
      <h3><small>Navigate to different APIs using the navbar!</small></h3>
    </center>
    {% block body %}
    {% endblock %}
  </table>
  <br><br><hr>
  &copy; Joshua Weiner, 2018
  </body>
</html
