<!DOCTYPE html>
<html>
<body>
  <h3>Welcome, {{username}}!</h3>
  <h4>Thank you for sharing your name with me!</h4>
  <a href="https://www.youtube.com/watch?v=W7PlkjpabQY">A special treat for being so awesome!</a>
  <br><br>
  <table border=1px>
    <tr>
      <th>Data for developer</th><th>Entered value</th>
    </tr>
    <tr>
      <td>Username</td><td>{{username}}</td>
    </tr>
    <tr>
      <td>App</td><td>{{a_name}}</td>
    </tr>
    <tr>
      <td>Request</td><td>{{req}}</td>
    </tr>
  </table>
  <br>
  <a href="/">Again!</a>
</body>
</html>
